/*блок contest-form*/

.contest-form {
  display: flex;
  flex-direction: column;
}

.contest-form__group {
  padding: 0;
  margin: 0;
  border: none;
}

.contest-form__group:nth-child(odd) {
  background-color: #ffffff;
}

.contest-form__group:nth-child(even) {
  background-color: #f2f2f2;
}

.contest-form__list {
  list-style: none;
}

.contest-form__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

.contest-form__title--contacts {
  visibility: hidden;
}

.contest-form__group--submit {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.contest-form__important {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
  text-align: center;
}

.contest-form__button {
  width: 280px;
  margin: 0 auto;
}

.contest-form__important--star {
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .contest-form__group {
    border: 2px solid #e5e5e5;
  }

  .contest-form__group:nth-child(odd),
  .contest-form__group:nth-child(even) {
    background-color: #ffffff;
  }

  .contest-form__group--personal {
    order: 1;
  }

  .contest-form__group--platform {
    order: 2;
  }

  .contest-form__group--contacts {
    order: 3;
  }

  .contest-form__group--achievement {
    order: 4;
  }

  .contest-form__group--review {
    order: 5;
  }

  .contest-form__group--submit {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
  }

  .contest-form__button {
    margin: 0;
    width: 300px;
  }

  .contest-form__title--contacts {
    visibility: visible;
  }
}

@media (min-width: @desktop-width) {
  .contest-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }

  .contest-form__group--personal {
    width: 440px;
  }

  .contest-form__group--platform {
    width: 440px;
  }

  .contest-form__group--contacts {
    width: 940px;
  }

  .contest-form__group-wrapper {
    display: flex;
    flex-direction: row;
  }

  .contest-form__group--achievement {
    width: 940px;
  }

  .contest-form__group--achievement .contest-form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contest-form__list .contest-form__item {
    width: 260px;
  }

  .contest-form__group--review {
    width: 940px;
  }

  .contest-form__group--submit {
    width: 940px;
  }
}
