.download-menu {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  position: relative;
  min-width: 280px;
  padding-top: 176px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #dfdfe0;

  &::before {
    display: block;
    position: relative;
    content: "";
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    max-width: 320px;
    height: 285px;
    margin: 0 auto;
  }
}

.download-menu__wrapper {
  position: relative;
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 37px;
}

.download-menu__applications {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.download-menu__title {
  display: none;
  font-weight: 300;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.download-menu__download-link {
  min-width: 280px;
  min-height: 55px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.download-menu__platform {
  min-width: 280px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.download-menu__description {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .download-menu {
    min-height: 740px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center;

    &::before {
      position: absolute;
      max-width: 660px;
      height: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-position: bottom right;
    }
  }

  .download-menu__wrapper {
    background-color: transparent;
  }

  .download-menu__applications {
    width: 300px;
  }

  .download-menu__container {
    margin: 0;
  }

  .download-menu__title {
    display: block;
    font-size: 40px;
    width: 200px;
    margin: 0 auto;
    line-height: normal;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .download-menu {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    min-height: 853px;

    &::before {
      max-width: 940px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-position: bottom right -130px;
    }
  }

  .download-menu__title {
    font-size: 50px;
    width: 240px;
  }
}
