/*блок features*/

.features {
  outline: 5px solid pink;
  background-color: #f2f2f2;
}

.features__list {
  list-style: none;
}

.features__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.features__description {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
