.main-nav {
  /*background-color: #1d2631;*/

  outline: 5px solid red;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.main-nav__list {
  list-style: none;
}

.site-list__item a {
  text-decoration: none;
}
