.main-nav {
  /*background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat:
    no-repeat,
    no-repeat;*/
  outline: 5px solid red;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.main-nav__list {
  list-style: none;
}

.site-list__item a {
  text-decoration: none;
}
