/*блок page-header*/

.page-header {
  background-color: #1d2631;
  display: flex;
}

.page-header__logo {
  display: block;
  background-color: rgba(29, 38, 49, 0.3);
  height: 66px;
  padding-left: 20px;
}

.page-header__logo-image {
  margin-top: 22px;
}
