.page-footer__menu {
  margin-top: 27px;
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer--index {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer--index {
    display: block;
  }
  .page-footer__menu {
    display: flex;
    flex-direction: row;

  }
}

@media (min-width: @desktop-width) {
  .page-footer__menu {
    padding-left: 10px;
    padding-right: 10px;
  }
}
