/*блок photo-upload*/

.photo-upload {
  display: flex;
  flex-direction: column;
}

.photo-upload__description {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}

.photo-upload__wrapper {
  background-color: #f2f2f2;
}

.photo-upload__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-upload__form {
  display: flex;
  flex-direction: column;
}

.photo-upload__correction {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.photo-upload__result {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.photo-upload__button--submit {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #d22856;
}

.photo-upload__button--reset {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #283645;
  opacity: 0.1;
}

@media (min-width: @tablet-width) {
  .photo-upload__description {
    font-size: 18px;
    width: 435px;
  }

  .photo-upload__menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 620px;
    margin: 0 auto;
  }

  .photo-upload__form {
    justify-content: space-between;
  }

  .photo-upload__correction {
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .photo-upload__wrapper {
    width: 800px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 60px;
  }

  .photo-upload__menu {
    width: 100%;
    margin: 0;
  }

  .photo-upload__result {
    flex-direction: row;
    justify-content: space-between;
  }
}
